<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, 'error') %> prohibited this movie from being saved:</h2>
      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div class="form-group">
      <%= form.label "Title:" %>
      <%= form.text_field :title %>
    </div>
    <div class="form-group">
      <%= form.label "Genre:" %>
      <%= form.text_field :genre %>
    </div>
    <div>
      <%= form.submit "Add Movie", class: "add-content" %>
    </div>
  </div>
<% end %>
