<%= form_with(model: tv_show, local: true) do |form| %>
  <% if tv_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tv_show.errors.count, 'error') %> prohibited this TV show from being saved:</h2>
      <ul>
        <% tv_show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div class="form-group">
      <%= form.label "Title:" %>
      <%= form.text_field :title %>
    </div>
    <div class="form-group">
      <%= form.label "Genre:" %>
      <%= form.text_field :genre %>
    </div>
    <div class="form-group">
      <%= form.label "Mins per episode:" %>
      <%= form.number_field :minutesPerEpisode %>
    </div>
    <div class="form-group">
      <%= form.label "Seasons:" %>
      <%= form.number_field :seasons %>
    </div>
    <div class="form-group">
      <%= form.label "Seasons completed:" %>
      <%= form.number_field :seasonsCompleted %>
    </div>
    <div>
      <%= form.submit "Add Show", class: "add-content" %>
    </div>
  <div>
<% end %>