<h2 style="text-align: center; margin-top: 5px;" class="mb-3">Forgot your password?</h2>
<div class="d-flex justify-content-center align-items-center">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send password reset instructions", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
