 <%= form_with(model: youtube, local: true) do |form| %>
  <% if youtube.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(youtube.errors.count, 'error') %> prohibited this youtube video from being saved:</h2>
      <ul>
        <% youtube.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div class="form-group">
      <%= form.label "Title:" %>
      <%= form.text_field :title %>
    </div>
    <div class="form-group">
      <%= form.label "Channel:" %>
      <%= form.text_field :channel %>
    </div>
    <div class="form-group">
      <%= form.label "Minutes:" %>
      <%= form.text_field :minutes %>
    </div>
    <div>
      <%= form.submit "Add YouTube Video", class: "add-content" %>
    </div>
  </div>

<% end %>
