 <h1 style="text-align:center"><%= @youtube.title %></h1>
<p>Channel: <%= youtube.channel %></p>
<p>Minutes: <%= youtube.minutes %></p>
<%= link_to 'Edit', edit_youtube_path(@youtube) %> |
<%= link_to 'Back to youtube videos', youtubes_path %>
